.metadata-item {
  border: 2px solid #151A30;
  padding: 16px 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.metadata-item-info {
  display: flex;
  flex-wrap: wrap;
}

.metadata-item__title {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  padding-right: 5px;
}

.metadata-item__content {
  font-size: 15px;
  line-height: 26px;
  color: #7B8098;
  text-overflow: ellipsis;
  overflow: hidden;
}